<%- include('../partials/admin-head.ejs') %> 
<style>
  .currentImage {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    background-color: blueviolet;
    border-radius: 4px;
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="row">
  <div class="col-md-6">
    <h2>Image Gallery</h2>
    <form
      action="/gallery?_csrf=<%= csrfToken %>"
      method="post"
      enctype="multipart/form-data"
    >
    <input type="file" name="image" id="image" onchange="gallery()"/>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
  </div>
</div>


<h2>Gallery</h2>
<% if (images && images.length > 0) { %>
  <% images.forEach(image => { %>
    <div class="col-md-3 imageColumn">
      <div class="currentImage" style="background-image: url('<%= image.src %>');"></div>
    </div>
    <% }) %>
<% } else { %>
  <p>You don't have any images yet!</p>
<% } %>

<style>
  form {
    display: inline
  }
</style> 

<%- include('../partials/admin-tail.ejs') %>

<script>
  function gallery() {
    const fileInput = document.querySelector('#image') ;
    const formData = new FormData();
    formData.append('image', fileInput.files[0]);
    if (image) { 
      fetch('/gallery', {
        method: 'POST',
        body: formData
      })
        .then((response) => {
          response.json()
          location.reload()
        })
        .then(body => {
          console.log(body)
        })
        .catch(function(error) {
          console.log(error)
        })
    }
  }
</script>
