<%- include('../partials/admin-head.ejs') %>
<h2>Customize</h2>
<form action="customize" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="input-container">
    <label for="storeName">Store's name</label>
    <input type="text" name="storeName" id="storeName" value="<%= PREFERENCES.title %>">
  </div>
  
  <div>
    <h3>Featured Categories</h3>
    <div id="featuredCategoryList" class="row">
    </div>
    <button id="added" type="button" onclick="add()">Add new</button>
  </div>
 <div>
  <div class="row">
    <div class="col-md-6">
      <h3>Header Menu</h3>
      <div id="headerMenuItemContainer">
        <% if (PREFERENCES.headerMenu && PREFERENCES.headerMenu.length > 0) { 
          PREFERENCES.headerMenu.forEach(menuItem => { %>
            <%- include('./snippets/headerMenuItem.ejs', { menuItem: menuItem }) %>
          <% })
        } %>
      </div>
      <div id="newHeaderMenu">Add new link</div>
    
    </div>
    <div class="col-md-6">
      <h3>Footer Menu</h3>
      <div id="footerMenuItemContainer">
        <% if (PREFERENCES.footerMenu && PREFERENCES.footerMenu.length > 0) { 
          PREFERENCES.footerMenu.forEach(menuItem => { %>
            <%- include('./snippets/footerMenuItem.ejs', { menuItem: menuItem }) %>
          <% })
        } %>
      </div>
      <div id="newFooterMenu">Add new link</div>
      <div class="input-container">
        <label for="storeName">Footer message</label>
        <input type="text" name="footerMessage" id="footerMessage" value="<%= PREFERENCES.footerMessage %>">
      </div>
    </div>
  </div>

  <button type="submit" class="primary">Save</button>
</form>  
<div style="display: none;">
  <div id="templateInput">
    <div class="input-container col-md-4">
      <label for="">Select a category</label>
      <select name="categoriesTitle" id=""></select>
    </div>
    <div class="input-container col-md-4">
      <label for="">Alt Title</label>
      <input type="text" name="altTitle">
    </div>
    <div class="col-md-4" id="removeCat">Remove</div>
  </div>
</div>

<div class="templates" style="display: none;">
  <%- include('./snippets/headerMenuItem.ejs', { menuItem: null }) %>
  <%- include('./snippets/footerMenuItem.ejs', { menuItem: null }) %>
</div>
<%- include('../partials/admin-tail.ejs') %>

<script>
 function add() {
        var templateInput = document.querySelector('#templateInput');
        var newCategoryLine = document.importNode(templateInput, true);
        var featuredCategoryList = document.querySelector('#featuredCategoryList');
        var removeCategory = newCategoryLine.querySelector('#removeCat');
        removeCategory.addEventListener("click", function(event){
          newCategoryLine.remove()
        })
        featuredCategoryList.appendChild(newCategoryLine);
    }
  $('#newFooterMenu').click(() => {
    $('.templates .footerMenuItem').clone().appendTo('#footerMenuItemContainer');
  })

  $('#newHeaderMenu').click(() => {
    $('.templates .headerMenuLink').clone().appendTo('#headerMenuItemContainer');
  })

  $('.removeMenuItem').click((event) => {
    $(event.target).parent().remove();
  })
  
</script>