<%# pass a product argument if edition %>
<%- include('../partials/admin-head.ejs') %>

<%# styles %>
<link rel="stylesheet" href="/statics/richtext.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>
  .topPanel {
    margin-bottom: 40px;
  }

  #galleryIframe {
      position: fixed;
      margin: 20px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: none;
      background-color: white;
      overflow-y: auto;
  }

  .image-preview {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
  }

</style>

<%# content %>
<h1>Product Editor</h1>


<div class="row topPanel">
  <div class="col-sm-8">
    <%- include('../partials/validatable-input.ejs', { label: 'Title', value: locals.product?.title }) %>
  </div>
  <div class="col-md-4">
    <%- include('../partials/validatable-input.ejs', { label: 'Handle', value: locals.product ? product.handle : '', help: 'You will access the product appending /pages/[handle] to the end of your store domain. You can only use lowercase letters, numbers and hyphens (-).'}) %> 
  </div>

  <div class="col-md-3 col-sm-6">
    <%- include('../partials/validatable-input.ejs', { label: 'Price $', name: 'price', type: 'number', value: locals.product?.price, help: 'Final price including taxes.' }) %>
  </div>

  <div class="col-md-3 col-sm-6">
    <%- include('../partials/validatable-input.ejs', { label: 'Compare at $', name: 'compareAt', type: 'number', value: locals.product?.compareAt, help: 'The original price of the product which is disccounted from. Is optional and often used as a marketing strategy.' }) %>
  </div>

  <div class="col-md-3 col-sm-6">
    <%- include('../partials/validatable-input.ejs', { label: 'Shipping $', name: 'shippingCost', type: 'number', value: locals.product?.shippingCost, help: 'The price of the shipping the user will have to pay to have it delivered. Use 0 if free.' }) %>
  </div>

  <div class="col-md-3 col-sm-6">
    <%- include('../partials/validatable-input.ejs', { label: 'Stock', type: 'number', value: locals.product?.stock, help: 'If you dont want to track the stock just leave it empty. If tracked, each time a product is bought the stock will be reduced. Customers will not be able to buy more products that you have in stock.' }) %>
  </div>
</div>
<div>
  <textarea name="description" id="description" cols="30" rows="10"><%= product ? product.description : '' %></textarea>
</div>

<div>
  <h2 for="images">Images</h2>
  <%- include('../partials/image-picker.ejs', { product: locals.product }) %>
</div>

<div class="previews"></div>

<div>
  <h2>Categories</h2>
  
  <% if (allCategories && (allCategories.length > 0)) { %>
    <a href="/admin/categories/new">New Category</a>
    <ul>
      <% for (let category of allCategories) { %>
        <li>
          <input 
            type="checkbox"
            name="categories"
            value="<%= category._id %>"
            id="<%= category._id %>"
            <%= product && category.products.indexOf(product._id) >= 0 ? 'checked' : '' %>
          >
          <label for="<%= category._id %>"><%= category.title %></label>
        </li>
      <% } %>
    </ul>
  <% } else { %>
    <p>You dont have any category yet! <a href="/admin/categories/new">Go create one!</a></p>
  <% } %>
</div>
<div>
  <input type="checkbox" id="publish" <%= product && product.publish ? 'checked' : '' %>> <label for="publish">Publish (in not is a draft)</label>
</div>
<button class="primary" onclick="submit()"><%= product ? 'Update' : 'Create' %></button>

<%# scripts %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script src="/statics/jquery.richtext.min.js"></script>
<script src="/statics/scripts/utils.js" async></script>

<script async>
  const productId = <%- locals.product? `'${product.id}'` : 'undefined' %>;

  $('textarea#description').richText();

  $('#title').blur(event => {
    autocompleteHandle()
  })

  $('.validatable-input input').keyup(event => {
    $(event.target).parent().parent().removeClass('error')
  })

  function submit () {
    autocompleteHandle()

    const title = $('#title').val()
    const handle = $('#handle').val()
    let price = $('#price').val()
    let compareAt = $('#compareAt').val() || undefined
    let shippingCost = $('#shippingCost').val()
    let stock = $('#stock').val() || undefined
    const description = $('#description').val() || undefined
    const images = $('input[name="images"]').map(function(){return $(this).val();}).get()
    const categories = $('input:checked[name="categories"]').map(function(){return $(this).val();}).get()
    const publish = $('input#publish').prop('checked')

    const validator = new Validator()

    validator.check({ title, handle }, { notEmpty: 'The _NAME cannot be empty' })
    
    validator.check({ price }, { isFloat: 'Should be a not negative number' })
    validator.check({ shippingCost }, { isFloat: 'Should be a positive number or 0 if free' })
    
    if (compareAt) validator.check({ compareAt }, { isFloat: 'Should be a not negative number or empty' })
    if (stock) validator.check({ stock }, { isNatural: 'Should be a natural number or empty if not tracked' })

    if (validator.hasErrors()) {
      validator.showErrors()
      return
    }
    
    price = parseFloat(price)
    if (compareAt) compareAt = parseFloat(compareAt)
    shippingCost = parseFloat(shippingCost)
    if (stock) stock = parseInt(stock)

    fetchApi('/api/products' + (productId ? `/${productId}` : ''), {
      method: productId ? 'PATCH' : 'POST',
      params: { 
        title,
        handle,
        price,
        compareAt,
        shippingCost,
        stock,
        description,
        images,
        categories,
        publish,
        _csrf: '<%= csrfToken %>'
      },
      success: function (data) {
        window.location.replace('/admin/products')
      }
    })
  }
</script>

<%- include('../partials/admin-tail.ejs') %>