<!-- pass a product argument if edition -->
<%- include('../partials/admin-head.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/richtext.min.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js" integrity="sha512-0bEtK0USNd96MnO4XhH8jhv3nyRF0eK87pJke6pkYf3cM0uDIhNJy9ltuzqgypoIFXw3JSuiy04tVk4AjpZdZw==" crossorigin="anonymous"></script>

<h2>Product Editor</h2>

<form action="/admin/products<%= product ? `/${product._id}/edit` : '' %>" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="row topPanel">
    <div class="col-sm-12">
      <div class="secondlyValidatableInput  <%= prefill?.title?.error ? 'error' : '' %>"">
        <div class="secondlyInputInner">
          <label for="title">Title:</label>
          <input id="title" type="text" name="title" value="<%= prefill.valueOfOr('title', product?.title) %>">
        </div>
        <div class="secondlyErrorMessage">
          <%= prefill?.title?.error %>  
        </div>
      </div>
    </div>
  
    <div class="col-md-3 col-sm-6">
      <div class="secondlyValidatableInput  <%= prefill?.price?.error ? 'error' : '' %>"">
        <div class="secondlyInputInner">
          <label for="price">Price:</label>
          <input id="price" type="text" step="0.01" name="price" value="<%= prefill.valueOfOr('price', product?.price) %>">
        </div>
        <div class="secondlyErrorMessage">
          <%= prefill?.price?.error %>  
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="secondlyValidatableInput  <%= prefill?.compareAt?.error ? 'error' : '' %>"">
        <div class="secondlyInputInner">
          <label for="compareAt">Compare at:</label>
          <input id="compareAt" type="text" step="0.01" name="compareAt" value="<%= prefill.valueOfOr('compareAt', product?.compareAt) %>">
        </div>
        <div class="secondlyErrorMessage">
          <%= prefill?.compareAt?.error %>  
        </div>
      </div>
    </div>
  
    <div class="col-md-3 col-sm-6">
      <div class="secondlyValidatableInput  <%= prefill?.shippingCost?.error ? 'error' : '' %>"">
        <div class="secondlyInputInner">
          <label for="shippingCost">Shipping $</label>
          <input id="shippingCost" type="text" step="0.01" name="shippingCost" value="<%= prefill.valueOfOr('shippingCost', product?.shippingCost) %>">
        </div>
        <div class="secondlyErrorMessage">
          <%= prefill?.shippingCost?.error %>  
        </div>
      </div>
    </div>
  
    <div class="col-md-3 col-sm-6">
      <div class="secondlyValidatableInput  <%= prefill?.stock?.error ? 'error' : '' %>"">
        <div class="secondlyInputInner">
          <label for="stock">Stock</label>
          <input id="stock" type="text" step="0.01" name="stock" value="<%= prefill.valueOfOr('stock', product?.stock) %>">
        </div>
        <div class="secondlyErrorMessage">
          <%= prefill?.stock?.error %>  
        </div>
      </div>
    </div>
  </div>
  <div>
    <textarea name="description" id="description" cols="30" rows="10"><%= product ? product.description : '' %></textarea>
  </div>
  
  <div>
    <label for="images">Images</label>
    <div id="galleryIframe"></div>
    <div class="selectedImages" id="sortable">

    </div>
    <button type="button" onclick="loadGallery()">Pick images</button>
  </div>

  <div class="previews"></div>

  <div>
    <label>Categories</label>
    
    <% if (allCategories && (allCategories.length > 0)) { %>
      <a href="/admin/categories/new">New Category</a>
      <ul>
        <% for (let category of allCategories) { %>
          <li>
            <input 
              type="checkbox"
              name="categories[]"
              value="<%= category._id %>"
              id="<%= category._id %>"
              <%= product && category.products.indexOf(product._id) >= 0 ? 'checked' : '' %>
            >
            <label for="<%= category._id %>"><%= category.title %></label>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <p>You dont have any category yet! <a href="/admin/categories/new">Go create one!</a></p>
    <% } %>
  </div>
  <div>
    <input type="checkbox" name="publish" id="publish" <%= product && product.publish ? 'checked' : '' %>> <label for="publish">Publish (in not is a draft)</label>
  </div>
  <button class="primary" type="submit"><%= product ? 'Update' : 'Create' %></button>
</form>

<style>
  .topPanel {
    margin-bottom: 40px;
  }

  #galleryIframe {
      position: fixed;
      margin: 20px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: none;
  }

  .image-preview {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
  }

</style>

<script src="/jquery.richtext.min.js"></script>
<script>

  let galleryLoaded = false

  const initialImages = <%- JSON.stringify(product?.images || []) %>;
  selectedImages(initialImages)

  function closeGallery() {
    $('#galleryIframe').hide();
  }

  function removeImageIfSelected(imageId) {
    $(`.selectedImages .image-preview[data-image-id='${imageId}']`).remove()
  }
  
  function selectedImages(images) {
    closeGallery()
    console.log(images)
    $('.selectedImages').empty()
    images.forEach(image => {
      $(`<div class="image-preview" data-image-id="${image.id}" style="background-image: url('${image.src}')">
          <input type="hidden" name="images[]" value="${image.id}">
        </div>`).appendTo('.selectedImages')
    })
    $( "#sortable" ).sortable();
  }

  function loadGallery() {
    if (!galleryLoaded) {
      $('<iframe>', {
        src: '/gallerydemo?' + (new URLSearchParams({selected: initialImages.map(image => image.id)})).toString(),
        id:  'gallery',
        'border-radius': '4px',
        width: "100%",
        height: "100%",
        frameborder: 0,
        }).appendTo('#galleryIframe');
  
      $('#galleryIframe').show()
      galleryLoaded = true
    } else {
      $('#galleryIframe').show()
    }
  }

  $('textarea#description').richText();

  function remove() {
    alert('Clicked!')
  }
  function readURL(input) {
    $('.previews').empty()
    if (input.files) {
      for (var fileIter of input.files)
        (function(file) {
          var reader = new FileReader();
          reader.onload = function (e) {
          var img = $('<img />', {
          src: e.target.result, 
          width: 180
          }).click(remove)
        .appendTo($('.previews'));
          };

          reader.readAsDataURL(fileIter);
        })(fileIter)
      }
    }
</script>
<%- include('../partials/admin-tail.ejs') %>