<%- include('../partials/store-head.ejs') %>
<h2>My Account</h2>
<div class="row">
  <div class="col-md-6">
    <h3>Personal Info</h3>
    <table>
      <tr>
        <th>First Name</th>
        <td><%= user.firstName %></td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td><%= user.lastName %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= user.email %></td>
      </tr>
      <tr>
        <th>Password</th>
        <td><a href="/account/request-password-reset"> Change password</a></td>
      </tr>
    </table>

    <h3>Saved address</h3>
    <button class="primary" onclick="logout()">Logout</button>
  </div>
  <div class="col-md-6">
    <h3>Orders</h3>

    <% if (orders && orders.length > 0) { %>
      <table>
        <tr>
          <th>Billed</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
        <% orders.reverse().forEach(order => { %>
          <tr>
            <td>$ <%= order.totalPrice() %></td>
            <td><%= order.created.toLocaleDateString("en-US", { month: 'short' , day: "numeric", year: "numeric"}) %></td>
            <td><%= order.status %></td>
          </tr>
        <% }) %>
      </table>
    <% } else { %>
      <p>You still don't have any order!</p>
    <% } %>
  </div>
</div>

<script>
  function logout() {
    fetch('/api/account/logout', {
      method: 'POST',
      credentials: 'same-origin',
      xhrFields: { withCredentials: true },
      headers: { 'Content-Type': 'application/json' }
    })
      .then((response) => {
        return response.json()
      })
      .then(body => {
        if (body.success) {
          window.location.replace('/')
        } else {
          // there was an error
          alert(body.message)
        }
      })
      .catch(function(error) {
        console.log(error)
        alert('There was an error. Please try again.')
      })
  }
</script>

<%- include('../partials/store-tail.ejs') %>