<%- include('../partials/store-head.ejs') %>
<style>

  p.subtitle {
    line-height: 1.6;
    font-size: 2.3em;
    margin-bottom: 0.4em;
    display: flex;
    align-items: center;
    font-family: 'Alata', sans-serif;
  }

  .browseCategory {
    margin-top: 1em;
    font-size: x-large;
    margin-bottom: 0.8em;
  }
  
  .browseCategory a {
    font-weight: bold;
  }

  .browseCategory .categoryArrow {
    position: relative;
    left: 10px;
    top:2px;
    transition: left 0.5s;
  }
  
  .browseCategory:hover .categoryArrow {
    left: 20px;
  }

  @media screen and (max-width: 992px) {
    p.subtitle {
      font-size: 1.3em;
    }
  }

  .featuredCategories {
    margin-top: 1em;
    margin-bottom: 3.5em;
  }

  .featuredCategory {
    margin-right: 12px;
  }

</style>
  <div class="row">
    <div class="col-lg-9">
      <h1 class="lead"><%= PREFERENCES.homepage?.title %></h1>
      <% if (featuredCategories.length > 0) { %>
        <div class="featuredCategories">
          <% featuredCategories.forEach(featuredCategory => { %>
            <a href="/categories/<%= featuredCategory.handle %>"><button class="primary smaller featuredCategory"><%= featuredCategory.title %></button></a>
            <% }) %>
        </div>
      <% } %>
    </div>
  </div>
  <% for (let homepageCategoryItem of homepageCategories) { %>
    <div class="store__category">
      <h2 class="browseCategory"><a href="/categories/<%= homepageCategoryItem.category.handle %>"><%= homepageCategoryItem.altTitle || homepageCategoryItem.category.title %> <span class="categoryArrow">→</span></a></h2>
      <%- include('./snippets/list-products.ejs', { products: homepageCategoryItem.category.products, empty: "There are no products in this category yet!" }) %>
    </div>
  <% } %>
<%- include('../partials/store-tail.ejs') %>