<%- include('../partials/store-head.ejs') %>
<h1>Thanks for your order!</h1>
<p>
  We appreciate your business!
  If you have any questions, please email <a href="mailto:buy@secondly.store">buy@secondly.store</a>.
</p>

<div class="row">
  <div class="col-md-6">
    <h3>General</h3>
    <table>
      <tr>
        <th>Name</th>
        <td><%= order.personal.firstName %> <%= order.personal.lastName %></td>
      </tr>
      <tr>
        <th>Email</th>  
        <td><%= order.personal.email %></td>      
      </tr>
      <tr>
        <th>Billed</th>  
        <td>$ <%= order.totalPrice() %></td>      
      </tr>
      <tr>
        <th>Id</th>
        <td><%= order.id %></td>
      </tr>
      <tr>
        <th>Created</th>
        <td><%= order.created.toLocaleDateString("en-US", { month: 'short' , day: "numeric", year: "numeric", hour: 'numeric', minute: 'numeric'}) %></td>
      </tr>
      <tr>
        <th>Status</th>
        <td>
          <div class="secondlyInput">
            <select name="status" id="status" disabled>
              <option value="new" <%= order.status == 'new'? 'selected' : '' %>>New</option>
              <option value="unpaid" <%= order.status === 'unpaid'? 'selected' : '' %>>Unpaid</option>
              <option value="processing" <%= order.status === 'processing'? 'selected' : '' %>>Processing</option>
              <option value="shipped" <%= order.status === 'shipped'? 'selected' : '' %>>Shipped</option>
              <option value="refunded" <%= order.status === 'refunded'? 'selected' : '' %>>Refunded</option>
              <option value="completed" <%= order.status === 'completed'? 'selected' : '' %>>Completed</option>
            </select>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Shippment Address</h3>

    <table>
      <tr>
        <th>Address</th>
        <td><%= order.shipping.address %></td>
      </tr>
      <tr>
        <th>State</th>
        <td><%= order.shipping.state %></td>
      </tr>
      <tr>
        <th>City</th>
        <td><%= order.shipping.city %></td>
      </tr>
      <tr>
        <th>Zip Code</th>
        <td><%= order.shipping.zip %></td>
      </tr>
      <tr>
        <th>Tracking</th>
        <td>
          <% if (order.shipping.tracking) { %>
              <%= order.shipping.tracking %>
            <% } else { %>
              <div class="secondlyInput">
                <input type="text" name="tracking" id="traking" disabled></td>
              </div>
          <% } %>
      </tr>
    </table>
  </div>
</div>

<h3>Items</h3>
<table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Unit Shipping Cost</th>
  </tr>
  <% for (let item of order.items) { %>
    <tr>
      <td><a href="/products/<%= item.originalProduct %>"><%= item.title %></a></td>
      <td><%= item.quantity %></td>
      <td><%= item.unitPrice %></td>
      <td><%= item.unitShippingCost %></td>
    </tr>
  <% } %>
</table>
<%- include('../partials/store-tail.ejs') %>