<%- include('../partials/store-head.ejs') %>
<div class="errorMessage"></div>
<h1>Login</h1>
<%- include('../partials/validatable-input.ejs', { label: 'Email' }) %>
<%- include('../partials/validatable-input.ejs', { label: 'Password', type: 'password' }) %>
<p>Did you forget your password? <a href="/account/request-password-reset">Reset it.</a></p>
<div>
  <input type="checkbox" id="remember" checked> <label for="remember">Remember in this device</label>
</div>
<button class="primary" onclick="login()">Login</button>
<p>Don't have an account yet? <a href="/account/register">Register.</a></p>

<script src="/scripts/utils.js" async></script>
<script>
  function login() {
    const email = $('#email').val()
    const password = $('#password').val()
    const remember = $('#remember').is(':checked')

    fetchApi('/api/account/login', {
      params: { 
        email,
        password,
        remember, 
        _csrf: '<%= csrfToken %>'
      },
      success: function (data) {
        if (data.user.admin) window.location.replace('/admin')
        else window.location.replace('/')
      }
    })
  }

  $('.validatable-input input').keydown(event => {
    $(event.target).parent().parent().removeClass('error')
  })

  $('.validatable-input input').on('keypress', event => {
    if(event.which == 13) login()
  })
</script>
<%- include('../partials/store-tail.ejs') %>

