<%- include('../partials/store-head.ejs') %>
<h2>Set New Password</h2>
<% if (locals.errorMessages && locals.errorMessages.length > 0) { %>
  <div class="errorMessage"><%= errorMessages[0] %></div>
<% } %>
<form action="/password-reset" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <input type="hidden" name="userId" value="<%= userId %>">
  <input type="hidden" name="resetToken" value="<%= resetToken %>">
  <div class="secondlyInput">
    <label for="newPassword">New password:</label>
    <input type="password" name="newPassword" id="newPassword">
  </div>
  <button class="primary" type="submit">Reset</button>
</form>
<%- include('../partials/store-tail.ejs') %>