<%- include('../partials/store-head.ejs') %>
<h1>Set New Password</h1>
<% if (locals.errorMessages && locals.errorMessages.length > 0) { %>
  <div class="errorMessage"><%= errorMessages[0] %></div>
<% } %>
<input type="hidden" id="pass-reset-token" value="<%= passResetToken %>">
<%- include('../partials/validatable-input.ejs', { 
  label: 'New password',
  name: 'password',
  type: 'password'
}) %>
<div>
  <input type="checkbox" id="remember" checked> <label for="remember">Remember in this device</label>
</div>   
<button class="primary" onclick="resetPassword()">Reset</button>
<script src="/scripts/utils.js" async></script>
<script>
  function resetPassword() {
    const password = $('#password').val()
    const passResetToken = $('#pass-reset-token').val()
    const remember = $('#remember').is(':checked')

    fetchApi('/api/account/reset-password', {
      params: { 
        passResetToken,
        password,
        remember,
        _csrf: '<%= csrfToken %>'
      },
      success: function (data) {
        if (data.user.admin) window.location.replace('/admin')
        else window.location.replace('/')
      }
    })
  }

  $('.validatable-input input').keydown(event => {
    $(event.target).parent().parent().removeClass('error')
  })

  $('.validatable-input input').on('keypress', event => {
    if(event.which == 13) resetPassword()
  })
</script>
<%- include('../partials/store-tail.ejs') %>